body,section, h1,h2,h3,h4,h5,h6,p,span,i {
	color: #ffffff;
}

select, input, .panel.callout i {
	color: #000;
}

.setting-holder hr {
	margin: 5px;
}

.setting-holder p {
	margin-bottom: 0px;
}

body {
	background: #333333;
	background-image: url(../images/Agility.png);
	background-size: cover;
	overflow: hidden;
	//top: 20px;
}

.row.first {
		margin-top: 50px;
}

.inner-wrap {
	background: rgba( 0,0,0,0.5 );
	height: 100vh;
}

.black-out {
	background-image: none;
	background: #000;
}

.icon-box-outter {
	background: rgba( 0,0,0,0.5 );
	border: 4px solid #008CBA;
	width:150px;
	height:150px;
	padding: 3px;
	display: table;
	margin: 0 auto;
}

.icon-box-inner {
	border: 0.5px solid #008CBA;
	height: 136px;
	display: table-cell;
	vertical-align: middle;
}

.icon-box-inner i, .icon-box-inner p{
	color: #00ba2e;
}

.tapme i {
	color: #fff;
}

#btn-row-seq {
	position: fixed;
	top: 85vh;
}

#btn-row,
#btn-row-first {
	//position: fixed;
	//top: 55vh;
}

.button-arrow:after {
	font-family: FontAwesome;
	content: "\f18e";
	position: absolute;
	font-size: 24px;
	top: 15px;
	left: 90%;
}

.panel.callout {
	background: rgba( 255,255,255,0.75 );
	max-height: 80vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.tight{
	margin: 0px;
	padding:0px;
}

.panel.callout.selected {
    background: #333;
    color: #fff;
}

.square div {
	width: 50px;
	height: 50px;
	background: #FFF;
}

.triangle div {
	width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #fff;
}
.star:after {
	content: "Star";
}

.diamond div{
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom-color: #fff;
  position: relative; top: -25px;
}

.diamond div:after {
  content: '';
  position: absolute;
  left: -25px;
  top: 25px;
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-top-color: #fff;
}

.circle div {
	width: 50px;
	height: 50px;
	background: #fff;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.table-view {
	display: table;
	height: 100vh;
	width: 100%;
	background: #000000;
}

.table-cell {
  display: table-cell;
	height: 100vh;
	width: 100%;
  text-align: center;
  vertical-align: middle;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 1px);
	transform: translate3d(0, 0, 0);
}
.page.left {
	-webkit-transform: translate3d(-100%, 0, 1px);
	transform: translate3d(-100%, 0, 0);
}
.page.center {
	-webkit-transform: translate3d(0, 0, 1px);
	transform: translate3d(0, 0, 0);
}
.page.right {
	-webkit-transform: translate3d(100%, 0, 1px);
	transform: translate3d(100%, 0, 0);
}
.page.transition {
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
}
