body,section, h1,h2,h3,h4,h5,h6,p,span,i {
	color: #ffffff;
}

select, input, .panel.callout i {
	color: #000;
}

.setting-holder hr {
	margin: 5px;
}

.setting-holder p {
	margin-bottom: 0px;
}

body {
	background: #333333;
	background-image: url(../images/RAT_bg.png);
	background-size: cover;
	overflow: hidden;
	//top: 20px;
}

.main-section {
	max-height: 100vh;
	overflow-y: auto;
}

.tab-bar {
	background: #3E3E3E; /*#008CBA*/;
}

.left-small{
	background: #FF0000;
}

.row.first {
		margin-top: 50px;
}

.inner-wrap {
	background: rgba( 0,0,0,0.25 );
	height: 100vh;
}

.black-out {
	background-image: none;
	background: #000;
}

.icon-box-outter {
	background: rgba( 0,0,0,0.25 );
	border: 4px solid #FF0000;
	width:150px;
	height:150px;
	padding: 3px;
	display: table;
	margin: 0 auto;
}

.icon-box-inner {
	background: rgba( 0,0,0,0.0 );
	border: 0.5px solid #FF0000;
	height: 136px;
	display: table-cell;
	vertical-align: middle;
}

.icon-box-inner i, .icon-box-inner p{
	color: #FFFFFF;
}

.tapme i {
	color: #fff;
}

#btn-row-seq {
	position: fixed;
	top: 85vh;
}

#btn-row,
#btn-row-first {
	//position: fixed;
	//top: 55vh;
}

.button {
	background: #3E3E3E;
}

.button:hover {
	background: #FFFFFF;
	color: #000;
}

.button-save-run {
	background: #FF0000;
}

.button-arrow:after {
	font-family: FontAwesome;
	content: "\f18e";
	position: absolute;
	font-size: 24px;
	top: 15px;
	left: 90%;
}

.button-save-run:after {
	font-family: FontAwesome;
	content: "\f18e";
	position: absolute;
	font-size: 24px;
	top: 15px;
	left: 75%;
}

.button-save:after {
	font-family: FontAwesome;
	content: "\f0c7";
	position: absolute;
	font-size: 24px;
	top: 15px;
	left: 70%;
}

.panel.callout {
	background: rgba( 255,255,255,0.75 );
	max-height: 80vh;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.tight{
	margin: 0px;
	padding:0px;
}

.panel.callout.selected {
    background: #333;
    color: #fff;
}

.tb-view{
	display: table;
	width: 100%;
}

.tc-view{
	display: table-cell;
	width: 100%;
}

.tc-view.full{
	height: 80vh;
	vertical-align: middle;
}

.shape-list-header {
	background: rgba( 0,0,0,0.75 );
	border-top: 4px solid #FF0000;
	border-left: 4px solid #FF0000;
	border-right: 4px solid #FF0000;
	border-bottom: 0.5px solid #FF0000;
	padding: 3px;
	margin: 0 auto;
	text-align: center
}

.shape-list {
	background: rgba( 0,0,0,0.75 );
	border-bottom: 4px solid #FF0000;
	border-left: 4px solid #FF0000;
	border-right: 4px solid #FF0000;
	padding: 3px;
	margin: 0 auto;
	max-height: 30vh;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.shape-list > li {
	min-height: 44px;
	padding-top: 5px;
	padding-left: 5px;
	margin-left: 5px;
	border-bottom: 0.5px solid #FF0000;
}

.shape-list > li:last-child {
	border-bottom: none;
}

.shape-list > li.selected {
    background: #333;
    color: #fff;
}

.shape-list > li.selected:after {
    font-family: FontAwesome;
		content: "\f00c";
		float: right;
		padding-right: 5px;
}

.shape-list-box > div {
	height: 50px;
	border: 2px solid #FF0000;
	margin-top: 10px;
}

.shape-list-box > div > i {
	margin-top: 15px;
}

.shape-list-box > div.selected {
	background: #333;
    color: #fff;
}

.seq-shape {
	font-size: 350px;
}

.table-view {
	display: table;
	height: 100vh;
	width: 100%;
	background: #000000;
}

.table-cell {
  display: table-cell;
	height: 100vh;
	width: 100%;
  text-align: center;
  vertical-align: middle;
}

.rn90 {
	-ms-transform: rotate(-90deg) !important;
	-webkit-transform: rotate(-90deg) !important;
	transform: rotate(-90deg) !important;
}

.rn45 {
	-ms-transform: rotate(-45deg) !important;
	-webkit-transform: rotate(-45deg) !important;
	transform: rotate(-45deg) !important;
}

.r45{
	-ms-transform: rotate(45deg) !important;
	-webkit-transform: rotate(45deg) !important;
	transform: rotate(45deg) !important;
}

.page {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0, 0, 1px);
	transform: translate3d(0, 0, 0);
}
.page.left {
	-webkit-transform: translate3d(-100%, 0, 1px);
	transform: translate3d(-100%, 0, 0);
}
.page.center {
	-webkit-transform: translate3d(0, 0, 1px);
	transform: translate3d(0, 0, 0);
}
.page.right {
	-webkit-transform: translate3d(100%, 0, 1px);
	transform: translate3d(100%, 0, 0);
}
.page.transition {
	-webkit-transition-duration: .25s;
	transition-duration: .25s;
}
